$dark-color: #232628;
$light-dark: #2f3234;
$text333: #333;
$text555: #555;
$navy-color: #002E5B;
$green-color: #1BC744;
$light-blue: #0eb6d8;
$blue-color: #6C98E1;
$dark-orange: #CC6119;
$dark-orange-transition: rgba(204, 97, 25, 0.85);
$yellow-color: rgb(250,182,55);
$yellow-transparent: rgba(250,182,55, 0.9);
$white-color: #fff;
$greyAAA: #aaa;
$greyCCC: #ccc;
$grey888: #888;
$greyDDD: #DDDDDD;
$border-top-color: rgba(255, 255, 255, 0.1);
$background-nav: #EAEDF0;
$background-navbar: rgba(234,237,240,.8);
$background-dealer-list: #393C3E;
$background-special: #222527;