html {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: $dark-color;
}

*, *::after, *::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}