.text-uppercase {
  text-transform: uppercase;
}
.special-text {
  color: #6c98e1;
}
.img-responsive {
  width: 100%;
  height: auto;
}
@include media-xs {
  .hide-mobile {
    display: none !important;
  }
}

.d-none {
  display: none !important;
}
.d-flex {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.flex-justify-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul-none {
  padding-left: 0;
  list-style-type: none;
}

.cursor-pointer {
  cursor: pointer;
}

.margin-right-0 {
  margin-right: 0 !important;
}

.main-color {
  color: $dark-orange;
}

@keyframes slideAnimate {
  0% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1.06);
  }
}

.overflow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.18);
  opacity: 0;
  @include transitionAll(0.1s);
}
